@import './index.scss';
$dashboard-color: #21df10;
$messageView-color: #3fb427;
$messageComp-color: #3384aa;
$messageTable-color: #c9eec6;
$new-message-container-color: #555555;

.dashContainer {
    

    .new-message-modal__container {
        @include standard-border;
        background-color: $messageTable-color;
        width: 400px;
        height: 200px;
        margin: 1rem;
        padding: 1rem;
    
    }

    .messageContainer {
        @include standard-border;
        background-color: $messageView-color;
        width: 100%;
        margin:1rem 0 2rem 0;
        padding: 1rem;

        .viewSelect {
           
            margin-bottom: .5rem;
            display: flex;
            flex-direction: column;
            
            .messageViewSelectHeader {
                font-weight: bold;
                margin-bottom: .2rem;
            }
            .radioContainer {
                width: 70%;
                display:flex;
                flex-direction: row;
                justify-content: space-between;

                .radioForm {
                    display:flex;
                    flex-direction: row;
                    width:60%;
                    justify-content: space-between;
                }

                
            }
        }

        .message-table-container {
            border: 2px solid $background-border;
            background-color: $messageTable-color;
            max-height: 20rem;
            margin-bottom: .5rem;

            .message-table-content {
                .message-table-head {
                    position:sticky;
                    top: 0px;
                    margin: 0;

                    .message-table-head-row {
                        border-bottom: 2px solid black;

                        th {
                           background:#ccc;

                        }
                }
            }
                
              td {
                padding: .1rem;
                text-align: center;
                border: 1px solid black;
              }
            }
        }

        .messageControl {
           
            max-width: 70%;
            
            .message-view-control__container {
                padding: .4rem;

                .message-view-control {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .showMessageDD {
                        display: flex;
                        flex-direction: row;
                        .showMessagePageDisplay {
                            display: flex;
                            margin-left: 1rem;
                        }
                    }

                    .message-view-control__delete-container {
                        width: 110px;

                        .message-view-control__delete-button {
                            width: 100%;
                        }
                    }
                    .message-view-control__new-container {
                        width: 100px;

                        .message-view-control__new-button {
                            width: 100%;
                        }
                    }
                }
            }
        }

        
            
    }

       
    
}