@import './index.scss';
$dashboard-color: #21df10;
$messageView-color: #3fb427;
$messageComp-color: #3384aa;
$messageTable-color: #c9eec6;

.dashContainer {
    
 

    
    .messageContainer {
        @include standard-border;
        background-color: $messageView-color;
        width: 100%;
        margin-top: 1rem;
        padding: 1rem;

        .viewSelect {
           
            margin-bottom: .5rem;
            display: flex;
            flex-direction: column;
            
            .messageViewSelectHeader {
                font-weight: bold;
                margin-bottom: .2rem;
            }
            .radioContainer {
                width: 70%;
                display:flex;
                flex-direction: row;
                justify-content: space-between;

                .radioForm {
                    display:flex;
                    flex-direction: row;
                    width:60%;
                    justify-content: space-between;
                }

                .messageViewNewMessageContainer {
                    width: 100px;
                    .messageViewNewMessage {
                        width: 100%;
                    }
                }
            }
        }

        .message-table-container {
            border: 2px solid $background-border;
            background-color: $messageTable-color;
            max-height: 20rem;
            margin-bottom: .5rem;

            .message-table-content {
                .message-table-head {
                    position:sticky;
                    top: 0px;
                    margin: 0;

                    .message-table-head-row {
                        border-bottom: 2px solid black;

                        th {
                           background:#ccc;

                        }
                }
            }
                
              td {
                padding: .1rem;
                text-align: center;
                border: 1px solid black;
              }
            }
        }

        .messageControl {
           
            max-width: 70%;
            
            .messageViewControlContainer {
                padding: .4rem;

                .messageViewControl {
                    display: flex;
                    justify-content: space-between;
                    .showMessageDD {
                        display: flex;
                        
                        .showMessagePageDisplay {
                            margin-left: 1rem;
                        }
                    }

                    .messageViewSubmitContainer {
                        width: 110px;

                        .messageViewSubmit {
                            width: 100%;
                        }
                    }
                }
            }
        }
            
    }

       
    
}