@import './index.scss';
$dashboard-color: #21df10;
$lessonView-color: #3fb427;
$lessonComp-color: #3384aa;

$calandar-background:#92a8d1;

.dashContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 4rem;
    
    .lessonContainer {
        background-color: $lessonView-color;
        width: 90%;
        margin-top: 1rem;
        padding: 1rem;
        @include standard-border;

        .viewSelect {
           
            margin-bottom: .5rem;
            display: flex;
            flex-direction: column;
            
            
            .lessonViewSelectHeader {
                font-weight: bold;
                margin-bottom: .2rem;
            }
            .radioContainer {
                width: 60%;
                @include standard-border;
                padding: .5rem;

                .radioForm {
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    
                }
            }
        }

    .lessonTable {
      @include standard-border;
    }

    .lessonControlContainer {
        margin-top: 3rem;
        
        .lessonDetailContainer {
            background-color: $calandar-background;
            height: fit-content;
            width: fit-content;
            max-width: 75vw;
            min-width: 280px;
            @include standard-border;
            padding:1rem;
            .lesson-text {
              width:fit-content;
            }
            .lesson-attachment{
              @include standard-border;
              padding:1rem;
              min-width:195px;
            }
            .lesson-detail {
              margin:0 0 0 1rem;
            }
          
            .lesson-buttons {
             max-width: 185px;
            }
          }
        .lessonCreateContainer {
            display: flex;
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            background-color: $lesson-control-background;
            @include standard-border;
            padding: .3rem;

            .lessonControlP{
                padding-bottom:.2rem;
                padding-left:.4rem;
                margin: 0;
                text-decoration: underline;
                font-weight: bold;
            }
            .lessonControlLeft {
                
                #lessonControlEle {
                    padding-bottom: .5rem;
                    .lesson-date-input {
                      padding-left: 1rem;
                    }
                   
                    .lesson-control-radio{
                      padding-left: 1rem;
                    }
                    .studentName {
                        margin-left: 1rem;
                    }
                }
                .studentSelect {
                    display: flex;
                    flex-direction: row;
                }
            }
            .lessonControlRight {
              
                width:fit-content;
                .lessonControlAttachment{
                  @include standard-border;
                  min-width:195px;
                }
            
                .lessonControlBtn {
                   align-self: end;
                }
             }
          }
      }
    }
}